---
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
MaxEmptyLinesToKeep: 2

# AlignConsecutiveAssignments: true

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
BreakStringLiterals: false

---
Language:        ObjC

IndentCaseLabels: true
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
PenaltyBreakAssignment: 25


...

