# vim:set noet sw=4 sts=4 ts=8:
[user]
	email = 316786359@qq.com
	name = solawing
[diff]
	tool = nvim
	guitool = mvim
[difftool "mvim"]
	cmd = . ~/bin/mvimdiff.sh
[difftool "nvim"]
	cmd = . ~/bin/nvimdiff.sh
[difftool]
	prompt = false
	trustExitCode = true
[alias]
	b = blame
	c = config
	d = diff
	f = fetch
	m = merge
	mf = merge fetch_head
	p = push
	r = remote
	br = branch
	s = status
        la = log --simplify-merges
	stat-commit = shortlog --no-merges
	stat-line = !sh ~/bin/git-stat-line.sh
	# byte dance gerrit review
    rv = "!f() { git push origin \"${1:-HEAD}:refs/for/${2:-master}%${3:-r=liuwanlin,r=qihongye,r=liyuguo.jeffrey,r=kongkaikai,r=chengzhipeng,r=zhaochen.09,r=lichen.arthur,r=supeng.charlie,r=ci-ee,r=dongzhao.stone,r=cuiguilin}\"; }; f"
[push]
	default = simple
[merge]
	tool = custom
	guitool = custom
[mergetool]
	prompt = false
[mergetool "custom"]
	cmd = bash ~/bin/mergetool.sh "$LOCAL" "$BASE" "$REMOTE" "$MERGED"
[rebase]
	autoStash = true
[core]
	quotepath = false
[grep]
	patternType = perl
[rerere]
	enabled = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
